name: Create New Release

on:
  workflow_call:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
    branches:
      - "master"
    paths-ignore:
      - "README.adoc"
      - "docs/*"
      - ".github/**"
      - ".git*"
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: false
          create_annotated_tag: true
          tag_prefix: ""